*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Header */

.header {
    margin-bottom: 200px;
}

.header__nav {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding: 10px 30px;
    background-color: transparent;
    font-size: 17px;
    color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 20px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.header__button:hover {
    border: 1px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
}

.header__hero {
    margin-top: 100px;
    text-align: center;
}

.header__title {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
}

.header__desc {
    margin: 30px auto;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}

.header__cta {
    padding: 20px 70px;
    font-size: 17px;
    color: hsl(207, 100%, 98%);
    background-color:hsl(322, 100%, 66%);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.header__cta:hover {
    background-color: hsl(321, 100%, 78%);
}

.header__illustration {
    margin: 50px auto;
    display: block;
    max-width: 900px;
    width: 100%;
    height: auto;

}

.header__stats {
    max-width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.header__stat {
    text-align: left;
}

.header__icon {
    width: 45px; 
    height: auto;
}

.header__value {
    margin: 20px 0 30px;
    font-size: 80px;
    font-weight: bold;
}

.header__label {
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 50%);
}

/* Feature */

.feature {
    margin-bottom: 200px;
}

.feature__card {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
}

.feature__card--tile {
    background-color: #F6FBFF;
}

.feature__card--white {
    margin: 200px 0 200px;
}

.feature__card--last {
    background-color: #F6FBFF;
}

.feature__card::before,
.feature__card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature__card--tile::before {
    top: -150px;
    background-image: url("../images/bg-section-top-desktop-1.svg");
}

.feature__card--tile::after {
    bottom: -150px;
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
}

.feature__card--last::before {
    top: -150px;
    background-image: url("../images/bg-section-top-desktop-2.svg");
}

.feature__card--last::after {
    bottom: -150px;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
}

.feature__card--inverse {
    flex-direction: row-reverse;
}

.feature__info {
    flex: 1;
    align-self: center;
}

.feature__info--inverse {
    margin-left: 100px;
}

.feature__title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.feature__desc {
    margin-top: 30px;
    max-width: 500px;
    line-height: 1.5;
}

.feature__image {
    flex: 1;
    max-width: 500px;
}

.feature__illustration {
    width: 100%;
    height: auto;
}

/* Call */

.call {
    margin: 150px 0;
    text-align: center;
    padding-bottom: 100px;
}

.call__title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.call__cta {
    margin-top: 30px;
    padding: 20px 70px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: 17px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 200ms ease-out;
}

.call__cta:hover {
    background-color: hsl(321, 100%, 78%);
}

/* Footer */

.footer {
    position: relative;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    top: -160px;
    left: 0;
    right: 0;
    background-image: url("../images/bg-footer-top-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__logo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(141deg) brightness(103%) contrast(101%);
}

.footer__desc {
    margin: 25px 0;
    max-width: 350px;
    line-height: 1.5;
}

.footer__contact {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__contact-desc {
    margin-left: 15px;
}

.footer__socials {
    margin-top: 50px;
    display: flex;
}

.footer__social {
    margin-right: 25px;
}

.footer__social-link {
    color: white;
    text-decoration: none;
}

.footer__social-link:hover {
    color: hsl(190, 90%, 50%);
}

.footer__social-icon {
    font-size: 30px;
}

.footer__newsletter {
    margin-top: 10px;
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__content {
    margin: 25px 0 30px;
    max-width: 380px;
    line-height: 1.5;
}

.footer__form {
    max-width: 450px;
    display: flex;
}

.footer__input {
    flex: 2;
    padding: 12px;
    border-radius: 8px;
}

.footer__submit {
    flex: 1;
    margin-left: 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
}

.footer__submit:hover {
    background-color: hsl(321, 100%, 78%);
}

@media all and (max-width: 1300px) {
    .feature__card::before,
    .feature__card::after {
        height: 100px;
    }

    .feature__card--tile::before,
    .feature__card--last::before {
        top: -100px;
    }

    .feature__card--tile::after,
    .feature__card--last::after {
        bottom: -100px;
    }

    .footer::before {
        height: 100px;
        top: -100px;
    }
}

@media all and (max-width: 1000px) {

    /* Header */

    .header__nav {
        padding: 40px;
    }

    /* Feature */

    .feature__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__info--inverse {
        margin-left: 0;
    }

    .feature__image {
        order: -1;
        margin-bottom: 50px;
    }


    /* Footer */

    .footer {
        padding: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer::before {
        background-image: url("../images/bg-footer-top-mobile.svg");
        /* height: 100px;
        top: -100px; */
    }

    .footer__newsletter {
        order: -1;
    }

    .footer__form {
        flex-direction: column;
    }

    .footer__submit {
        margin-top: 15px;
        margin-left: 0;
        padding: 13px 40px;
        flex: 0;
        align-self: flex-end;
    }

    .footer__info {
        margin-top: 50px;
    }

    .footer__desc {
        max-width: 380px;
    }
}

@media all and (max-width: 700px) {
    /* Header */

    .header {
        margin-bottom: 100px;
    }

    .header__logo {
        width: 180px;
        height: auto;
    }

    .header__button {
        font-size: 16px;
    }

    .header__hero {
        padding: 20px;
    }

    .header__title {
        font-size: 36px;
        line-height: 1.5;
    }

    .header__desc {
        font-size: 16px;
    }

    .header__cta {
        font-size: 16px;
        padding: 15px 40px;
    }

    .header__stats {
        grid-template-columns: 1fr;
    }

    .header__stat:nth-child(2) {
        margin-top: 70px;
    }

    .header__icon {
        width: 30px;
        height: auto;
    }
    
    .header__value {
        margin: 10px 0;
        font-size: 65px;
    }

    /* Feature */

    .feature__title {
        font-size: 32px;
    }

    .feature__card--tile::before {
        background-image: url("../images/bg-section-top-mobile-1.svg");
        height: 200px;
        top: -200px;
    }

    .feature__card--tile::after {
        background-image: url("../images/bg-section-bottom-mobile-1.svg");
    }

    .feature__card--white {
        margin: 130px 0 180px;
    }

    .feature__card--last::before {
        background-image: url("../images/bg-section-top-mobile-2.svg");
        height: 150px;
        top: -150px;
    }

    .feature__card--last::after {
        background-image: url("../images/bg-section-bottom-mobile-2.svg");
        height: 150px;
        bottom: -150px;
    }

    /* Call */

    .call__title {
        font-size: 32px;
    }

    .call__cta {
        padding: 14px 35px;
        font-size: 16px;
    }

    /* Footer */

    .footer::before {
        height: 70px;
        top: -70px;
    }
}