*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* Header */

.header__nav {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    padding: 10px 30px;
    background-color: transparent;
    font-size: 17px;
    color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 20px;
}

.header__hero {
    margin-top: 100px;
    text-align: center;
}

.header__title {
    font-size: 48px;
    font-family: "Poppins", sans-serif;
}

.header__desc {
    margin: 30px auto;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
}

.header__cta {
    padding: 20px 70px;
    font-size: 17px;
    color: hsl(207, 100%, 98%);
    background-color:hsl(322, 100%, 66%);
    border: 0;
    border-radius: 30px;
}

.header__illustration {
    margin: 50px auto;
    display: block;
    max-width: 900px;
    width: 100%;
    height: auto;

}

.header__stats {
    max-width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.header__stat {
    text-align: left;
}

.header__icon {
    width: 45px; 
    height: auto;
}

.header__value {
    margin: 20px 0 30px;
    font-size: 80px;
    font-weight: bold;
}

.header__label {
    font-size: 18px;
    text-align: center;
    color: hsl(0, 0%, 50%);
}

/* Feature */

.feature__card {
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.feature__card--inverse {
    flex-direction: row-reverse;
}

.feature__info {
    flex: 1;
    align-self: center;
}

.feature__info--inverse {
    margin-left: 100px;
}

.feature__title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.feature__desc {
    margin-top: 30px;
    max-width: 500px;
    line-height: 1.5;
}

.feature__image {
    flex: 1;
    max-width: 500px;
}

.feature__illustration {
    width: 100%;
    height: auto;
}

/* Call */

.call {
    text-align: center;
}

.call__title {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.call__cta {
    margin-top: 30px;
    padding: 20px 70px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: 17px;
    border: 0;
    border-radius: 30px;
}

/* Footer */

.footer {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(192, 100%, 9%);
    color: hsl(207, 100%, 98%);
}

.footer__logo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(141deg) brightness(103%) contrast(101%);
}

.footer__desc {
    margin: 25px 0;
    max-width: 350px;
    line-height: 1.5;
}

.footer__contact {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer__contact-desc {
    margin-left: 15px;
}

.footer__socials {
    margin-top: 50px;
    display: flex;
}

.footer__social {
    margin-right: 25px;
}

.footer__social-link {
    color: white;
    text-decoration: none;
}

.footer__social-icon {
    font-size: 30px;
}

.footer__newsletter {
    margin-top: 10px;
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__content {
    margin: 25px 0 30px;
    max-width: 380px;
    line-height: 1.5;
}

.footer__form {
    max-width: 450px;
    display: flex;
}

.footer__input {
    flex: 2;
    padding: 12px;
    border-radius: 8px;
}

.footer__submit {
    flex: 1;
    margin-left: 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: hsl(322, 100%, 66%);
}